/* FONTS */
@font-face {
    font-family:"Didot";
    src:url("../assets/font/Didot.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family:"AGaramond Bold";
    src:url("../assets/font/AGaramondPro-Bold.otf") format("woff");
    font-style:normal;
    font-weight:bold;
}

@font-face {
    font-family:"AGaramond Bold Italic";
    src:url("../assets/font/AGaramondPro-BoldItalic.otf") format("otf");
    font-style:italic;
    font-weight:bold;
}

@font-face {
    font-family:"AGaramond Italic";
    src:url("../assets/font/AGaramondPro-Italic.otf") format("otf");
    font-style:italic;
    font-weight:normal;
}

@font-face {
    font-family:"AGaramond Regular";
    src:url("../assets/font/AGaramondPro-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family:"Minion Italic";
    src:url("../assets/font/MinionPro-It.otf") format("otf");
    font-style:italic;
    font-weight:normal;
}

@font-face {
    font-family:"Minion Regular";
    src:local("../assets/font/MinionPro-Regular.otf") format("otf");
    font-style:normal;
    font-weight:normal;
}

/* because of this property the page will take 100% of the window, whatever its size */
body { width:100%; } 

/* MARGIN & PADDING*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  scrollbar-width: none; /*Hide scrollbar*/
  scroll-behavior: smooth; /*Allows to show scrolling effect*/
}

* {
    box-sizing: border-box;
}

h1, h2, li {
    font-family: "Didot", serif;
}

li {
    list-style-type: none; 
}

p {
    font-family: "AGaramond Regular", serif;
    word-wrap: break-word; //or normal ? (by default)
    font-size: 1.03vw;
}

/* COLORS */
$light-color: #fff9dd;
$dark-color: #231f20;

/* BACKGROUD */
body {
    background-color: $light-color;
    font-size: 100%;
}

/* DELETE DEFAULT EFFECT LINK */
a {
    color: $dark-color;
    text-decoration: none;
}

/*Protect content (video, picture) download*/

img {
    pointer-events: none;
}

/* tablet */
@media only screen and (max-height: 799px) {
}